<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main class="container-fluid bg-light rounded d-flex row align-content-start align-items-start justify-content-around justify-content-md-start py-3 pl-3 pr-1 m-0 main-background" style="min-height: 78vh">

        <% lists.forEach(function(list) { %>
                <div id="<%= list._id %>" class="card mb-2 mr-2 position-relative custom-list">
                    <button data-id="<%= list._id %>" type="submit" class="btn btn-md position-absolute text-white px-1 py-0 delete-list" style="top:0; right:0;"><i class="fa fa-trash-o"></i></button>
                    <button data-id="<%= list._id %>" type="submit" class="btn btn-md position-absolute text-white px-1 py-0 edit-list" style="top:1px; right:11%;"><i class="fa fa-pencil-square-o"></i></button>
                    <div class="card-header text-white"><%= list.listName %></div>
                    <div class="card-body">
                        <% if(list.listItem){ %>
                            <% list.listItem.forEach(function(item) { %>
                                <div class="row align-items-center">
                                    <input type="checkbox" class="mr-2 check-item">
                                    <label class="card-text"><%= item %></label>
                                </div>
                            <% }); %>
                        <%}%>
                        <% if(list.listItemChecked){ %>
                            <% list.listItemChecked.forEach(function(item) { %>
                                <div class="row align-items-center">
                                    <input type="checkbox" class="mr-2 check-item" checked>
                                    <label class="card-text"><%= item %></label>
                                </div>
                            <% }); %>
                        <%}%>
                    </div>
                </div>
        <% }); %>

        <% notes.forEach(function(note) { %>
                <div id="<%= note._id %>" class="card mb-2 mr-2 position-relative custom-note">
                    <button data-id="<%= note._id %>" type="submit" class="btn btn-md position-absolute text-white px-1 py-0 delete-note" style="top:0; right:0;"><i class="fa fa-trash-o"></i></button>
                    <button data-id="<%= note._id %>" type="submit" class="btn btn-md position-absolute text-white px-1 py-0 edit-note" style="top:1px; right:11%;"><i class="fa fa-pencil-square-o"></i></button>
                    <div class="card-header text-white"><%= note.noteTitle %></div>
                    <div class="card-body">
                        <p class="card-text"><%= note.noteTextContent %></p>
                    </div>
                </div>
        <% }); %>


</main>

<footer>
    <% include ../partials/footer %>
</footer>

<% include ../partials/script %>

<script src="/clientJS/main.js"></script>
</body>
</html>